<% provide(:title, @user.nickname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.nickname %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @recipes %>
      <ol class="recipes">
        <% render 'shared/recipe',recipes: @recipes %>
      </ol>
    <% end %>
    <h3>レシピ一覧 (<%= @recipes.count %>)</h3>
  </div>
</div>